{% extends 'blog/base.html' %}
{% block content %}
    <table style="width:100%">
        <thead>
            <tr>
                <th>Artist</th>
                <th>Place of Birth</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        {% for post in posts %}
            <div class="post">
                <tbody>
                    <tr>
                        <td><p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p></td>
                        <td><p>{{ post.text|linebreaksbr }}</p></td>
                        <td>
                            <div class="date">
                                <p>{{ post.published_date }}</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </div>
        {% endfor %}
        </table>
        {% endblock %}